@import url(https://fonts.googleapis.com/css?family=Pacifico|Alegreya);

html {
    position: relative;
    min-height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    font-family: "Alegreya", sans-serif;
    /* Margin bottom by footer height */
}

p, address {
    font-size: 18px;
    text-align: center;
    color: #777;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 81px;

    z-index: 50;
    background: #6a121a;
    color: white;
    box-shadow: none;

    transition: background 0.25s;
}

header nav.navbar {
    height: 65px;
    margin-top: 9px;
    margin-bottom: 0;
}

header nav.navbar ul {
    margin-left: 10px;
}

header nav.navbar ul li {
    height: 60px;
}

header nav.navbar ul li a {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: all 0.25s;
}

header .navbar-collapse.collapsing,
header .navbar-collapse.in {
    background: #333333;
    border-top: 0;
}

header a {
    color: inherit;
    transition: all 2s;
}

header .nav > li > a:focus,
header .nav > li > a:hover {
    background-color: rgba(255, 255, 255, .85);
    color: #da202b;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: scale(1.1);
    transition: transform 0.5s, background 1s, all 0.25s;
}

header .nav:hover a {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    transform: scale(1);
}
header .navbar-collapse.collapsing,
header .navbar-collapse.in {
    overflow-x: hidden;
}

header .navbar-collapse.collapsing li a,
header .navbar-collapse.in li a {
    margin: 0;
    padding: 0;
}

header .navbar-collapse.collapsing li,
header .navbar-collapse.in li {
    height: 20px;
    margin: 0 10px 10px 5px;
}

header .navbar-toggle {
    display: block;
}

header span {
    display: block;
    margin-top: 20px;
}

#logo-container {
    width: 220px;
    height: 60px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo img {
    height: 60px;
}

.post-content,
.post-content p {
    text-align: left;
}

#page {
    margin-top: 80px;
    margin-bottom: 80px;
}

header.transparent {
    background: transparent;
}

body.home #page {
    margin-top: 0;
}

footer {
    background: transparent url('../imgs/bg_footer.jpg') center center fixed;
    background-size: cover;
}

footer .navbar {
    margin-top: 12px;
    background: transparent;
    border: 0;
}

footer .navbar-right {
    text-align: left;
}

footer p, footer a {
    font-size: inherit;
    color: inherit;
}

footer a {
    transition: background 0.5s, border-radius 0.5s, transform 0.25s;
    border-radius: 5px;
    transform: scale(1);
}

footer nav a:hover {
    transition: background 0.25s, border-radius 1s, transform 0.5s;
    background-color: rgba(255,255,255,0.5)!important;
    border-radius: 20px;
    transform: scale(1.1);
}

footer p a {
    text-decoration: underline;
}

footer .navbar-right {
    margin: 0;
}

footer .navbar-right p {
    text-align: right;
}

.site-post h1 {
    border-bottom: 3px solid rgba(193, 31, 39, 0.4);
    margin-bottom: 30px;
    margin-top: 30px;
}

.site-post h1:before {
    position: absolute;
    display: block;
    margin-left: -40px;
    width: 40px;
    height: 30px;
    background: url('../imgs/macaron.png') top left no-repeat transparent;
    background-size: 40px 40px;
}

.site-post h1 a {
    color: black;
}

.site-post h1 a:hover,
.site-post h1 a:focus {
    text-decoration: none;
    color: #c11f27;
}

.post-content {
    line-height: 1.5;
    margin-bottom: 50px;
}

.post-content p {
    color: #3f3f3f;
}

.btn, .btn:hover {
    border: 1px solid #777777;
    color: #777777;
    background: white;
    border-radius: 30px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
}

.btn-primary, .btn-primary:hover {
    border: 1px solid #888888;
    background: #888888;
    color: white;
}

.spacer {
    text-align: center;
    margin: 20px 0;
}

.spacer .bar {
    background: #B69F84;
    display: inline-block;
    height: 2px;
    width: 70px;
    margin: 3px 0;
}

.spacer .dot {
    background: #B69F84;
    display: inline-block;
    height: 7px;
    width: 5px;
    margin: 0 10px;
}

.quotes::before {
    content: '“';
    color: #777777;
}

.quotes::after {
    content: '”';
    color: #777777;
}

#cover .spacer .bar {
    background: white;
    width: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#cover .spacer .dot {
    background: white;
    margin: 0 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#cover {
    background: transparent url('../imgs/bg_header.jpg') center center fixed;
    background-size: cover;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#cover .container {
    position: relative;
    height: 60vh;
    min-height: 450px;
    color: white;
}

#cover.small .container {
    height: 200px;
    min-height: 200px;
}

#cover-title {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    height: 300px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0;
}

.small #cover-title {
    position: static;
    top: 0;
    margin-top: 30px;
    text-align: center;
    height: auto;
    padding: 0;
}

#cover h1 {
    font-family: "Pacifico", sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

#cover p {
    color: inherit;
}

#cover-arrow {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

#cover-arrow a {
    font-size: 32px;
    color: white;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

#cover-arrow a:hover, #cover-arrow a:focus {
    text-decoration: none;
}

#footer .nav > li {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    #cover h1 {
        font-size: 64px;
        letter-spacing: 8px;
    }
}

@media screen and (min-width: 1024px) {
    #cover h1 {
        font-size: 92px;
        letter-spacing: 10px;
    }
}

#about img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

section h1, h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 80px;
    margin-bottom: 20px;
}

section.map {
    position: relative;
    height: 350px;
}

section.map .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section.map .map iframe {
    width: 100%;
    height: 100%;
}

.post-content.no-title p:first-child {
    padding-top: 40px;
}

.home-presentation {
    padding-top: 30px;
}

.home-presentation .col {
    text-align: center;
    font-size: 1.5em;
}

.btn-search{
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da
}
